html, body {
    min-height: 100vh;
    background-color: white;
}

.main-container {
    min-height: 100%;
}

@font-face {
    font-family: 'homenajeregular';
    src: url('/assets/fonts/homenaje-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/homenaje-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text-logo {
    font-family: 'homenajeregular', sans-serif;
}

.gogreen {
    color: #88B337;
}

.bg-gogreen {
    background-color: #88B337;
}

.btn-gogreen {
    background-color: #88B337;
    color: white;
    min-width: 5rem;
}

.btn-gogreen:hover {
    background-color: #6b962a;
    color: white;
}

.custom-list-item {
    position: relative;
    display: block;
    padding: 0.3rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.update-tab {
    text-decoration: none;
    color: grey;
}

.update-tab.active {
    color: black;
}

.update-tab:hover {
    color: black;
}

table thead tr th {
    padding: 1rem;
    color: white;
    background: #343A40;
}

table thead tr th:hover {
    background: #43494E;
    cursor: pointer;
}

table tbody tr:hover {
    background: #43494E;
    color: white;
    cursor: pointer;
}

.link-gogreen {
    position: relative;
}

.link-gogreen:hover {
    top: -2px;
}

.index-container {
    min-height: 80%;
}

.index-title {
    font-family: Sora, sans-serif;
    user-select: none;
}

.index-subtitle {
    font-size: 1.5rem;
    color: grey;
    user-select: none;
}