.main-header {
    display: flex;
    flex-direction: column;
}

.index-container {
    display: flex;
    flex-direction: column;
}

.index-title {
    font-size: 2.5rem;
}

.index-subtitle {
    font-size: 1.25rem;
}

.index-image-div {
    margin-top: 2rem;
}

.index-banner {
    width: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-list {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.myaccount-div {
    width: 100%;
}

.create-form, .edit-form {
    width: 100%;
}

table {
    display: inline-block;
    overflow: auto;
}

.filterList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    margin-top: 1rem;
}

.domain-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pagination-bar {
    padding-left: 12rem;
}

.default-action-row, .payment-action-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.default-details {
    width: 100%;
}

.details-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 360px) {
    .domain-title {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pagination-bar {
        padding-left: 8rem;
    }
}

@media (min-width: 700px) {
    .index-text {
        width: 70%;
    }

    .default-form {
        width: 60%;
    }

    .dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .button-list {
        margin-right: 1.5rem;
    }

    .text-logo {
        margin-left: 1rem;
    }

    .pagination-bar {
        padding-left: 0;
    }

    .details-card {
        justify-content: center;
    }

    .details-info {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
}

@media (min-width: 992px) {
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .index-container {
        flex-direction: row;
    }

    .index-title {
        font-size: 2rem;
    }

    .index-subtitle {
        font-size: 1.25rem;
    }

    .default-form {
        width: 40%;
    }

    .myaccount-div {
        width: 70%;
    }

    .create-form, .edit-form {
        width: 50%;
    }

    table {
        display: table;
    }

    .filterList {
        flex-direction: row;
        justify-content: center;
    }

    .filter {
        margin-top: 0;
        margin-left: 1rem;
    }

    .details-info {
        width: 60%;
    }
}

@media (min-width: 1140px) {
    .index-container {
        flex-direction: row;
    }

    .index-title {
        font-size: 3rem;
    }

    .index-subtitle {
        font-size: 1.5rem;
    }

    .default-form {
        width: 30%;
    }

    .default-action-row {
        justify-content: center;
    }

    .payment-action-row {
        padding-left: 2rem;
        justify-content: center;
    }
}

@media (min-width: 1928px) {
    .index-container {
        flex-direction: row;
    }

    .index-title {
        font-size: 4rem;
    }

    .index-subtitle {
        font-size: 2rem;
    }

    .payment-action-row {
        padding-left: 0;
    }
}