.main-header {
    display: flex;
    flex-direction: column;
}

.index-container {
    display: flex;
    flex-direction: column;
}

.index-title {
    font-size: 2.5rem;
}

.index-subtitle {
    font-size: 1.25rem;
}

.index-image-div {
    margin-top: 2rem;
}

.index-banner {
    width: 100%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-list {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.myaccount-div {
    width: 100%;
}

.create-form {
    width: 100%;
}

@media (min-width: 400px) {
    .button-list {
        margin-right: 1.5rem;
    }
}

@media (min-width: 700px) {
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .index-text {
        width: 70%;
    }

    .default-form {
        width: 60%;
    }

    .dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .text-logo {
        margin-left: 1rem;
    }
}

@media (min-width: 992px) {
    .index-container {
        flex-direction: row;
    }

    .index-title {
        font-size: 2rem;
    }

    .index-subtitle {
        font-size: 1.25rem;
    }

    .default-form {
        width: 40%;
    }

    .myaccount-div {
        width: 70%;
    }

    .create-form {
        width: 50%;
    }
}

@media (min-width: 1140px) {
    .index-container {
        flex-direction: row;
    }

    .index-title {
        font-size: 3rem;
    }

    .index-subtitle {
        font-size: 1.5rem;
    }

    .default-form {
        width: 30%;
    }
}

@media (min-width: 1928px) {
    .index-container {
        flex-direction: row;
    }

    .index-title {
        font-size: 4rem;
    }

    .index-subtitle {
        font-size: 2rem;
    }
}
